@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cyan-100
}

.message-wrapper {
  max-width: 70%;
  overflow: hidden;
}

.chat-message {
  @apply text-gray-50 my-1 py-4 px-4 rounded-md font-normal
}

.chat-messages {
  overflow-anchor: auto;
  word-break: break-all;
}