@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cyan-100
}

.chat-message {
  @apply text-gray-50 my-1 py-4 px-4 rounded-md font-normal w-[60%] max-w-[350px]
}

.chat-messages {
  overflow-anchor: auto;
}